[Desktop Entry]
Encoding=UTF-8
Name=Link para Parallel - One Page WordPress Theme Review
Type=Link
URL=https://onepagelove.com/parallel
Icon=text-html
