[Desktop Entry]
Encoding=UTF-8
Name=Link para Placeholder.com - Quick & Simple Placeholder Images, Text & More
Type=Link
URL=https://placeholder.com/
Icon=text-html
